.container {
  text-align: center;
  padding: 20px;
  margin: 20px;
  border: thin solid #999999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-item {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.todo-item:first-of-type {
  margin-top: 0;
}

.todo-text {
  cursor: pointer;
}

.todo-button {
  margin-left: 10px;
}

.line-through {
  text-decoration: line-through;
}

.error {
  color: red;
}
